<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c8536585-3bc4-4845-a099-c131e6299f35/resourcegroups/DM106/providers/Microsoft.Web/sites/DM106TF</ResourceId>
    <ResourceGroup>DM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dm106tf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dm106tf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DM106TF</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DM106TF</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dm106tfdbserver.database.windows.net,1433;Initial Catalog=DM106TF_db;User ID=fgadmin@dm106tfdbserver;Password=DM106@Final" Name="Data Source=tcp:dm106tfdbserver.database.windows.net,1433;Initial Catalog=DM106TF_db;User Id=fgadmin@dm106tfdbserver;Password=DM106@Final" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DM106_TF.Models.ApplicationDbContext, DM106_TF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DM106_TFContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:dm106tfdbserver.database.windows.net,1433;Initial Catalog=DM106TF_db;User ID=fgadmin@dm106tfdbserver;Password=DM106@Final" Name="Data Source=tcp:dm106tfdbserver.database.windows.net,1433;Initial Catalog=DM106TF_db;User Id=fgadmin@dm106tfdbserver;Password=DM106@Final" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DM106_TF.Models.DM106_TFContext, DM106_TF" MigrationConfiguration="DM106_TF.Migrations.Configuration, DM106_TF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DM106_TFContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106tfdbserver.database.windows.net,1433;Initial Catalog=DM106TF_db;User Id=fgadmin@dm106tfdbserver;Password=DM106@Final</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106tfdbserver.database.windows.net,1433;Initial Catalog=DM106TF_db;User Id=fgadmin@dm106tfdbserver;Password=DM106@Final</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>